body { font-family:sans-serif; margin: 10px; }

.inputField {
  width: 100%;
}

textarea {
    height: 150px;
}

.error {
    color: red;
    font-weight: bold;
}

.required {
    font-weight:bold;
    color:red;
}

.help { background: lightgray; padding: 4px; border: 1px solid gray; }

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.gradient {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}
:-ms-input-placeholder {
        color:    #999;
}

input[type='text'].inactive, textarea.inactive, select.inactive, option.inactive {
    color: #999;
    font-style: italic;
}

input[type='text'].invalid, textarea.invalid, select.invalid, option.invalid{
    border-color: red;
    }​