<html>
<head>    
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet" href="demo.mobile.css" />
    <script type="text/javascript" src="jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="jquery.mobile-1.2.0.min.js"></script>
    <script type="text/javascript" src="jquery.validVal-4.2.5-packed.js"></script>
    <script type="text/javascript" src="jquery.validVal-customValidations.js"></script>
    <script type="text/javascript" src="jsrender.js"></script>
    <script type="text/javascript" src="demo.mobile.js"></script>
</head>    
<body>
<div data-role="page" id="p1" data-theme="b"> 
    <div data-role="header" style="text-align:center" data-theme="e">
        VersionOne Requestor
    </div> 
    
    <div data-role="content">    

        <div id="requestFormDiv">
    <form id="requestForm"></form> 
        </div>
        
    <fieldset class="ui-grid-a">
         <div class="ui-block-a"><a href="#create" data-role="button" id="run" data-icon="plus" data-mini="true">Submit</a></div>
         <div class="ui-block-b"><a href="#reset" data-role="button" id="reset" data-icon="delete" data-mini="true">Reset</a></div>
    </fieldset>     

    <br/>
    <hr/>
    
    <div id="output"></div>
     
    <script id="fieldsTemplate" type="text/x-jquery-tmpl">
        <div id="fields">        
            {{for fields}}
                <label for="{{:name}}">{{:label}}: </label>
                <div>            
                {{if type == "textarea" }}
                <textarea id="{{:name}}" class="inputField ui-block-a" {{if required == true}}placeholder="Required" required{{else}}placeholder="{{:placeholder}} (optional)"{{/if}} />
                {{else}}
                    <input type="text" {{:autofocus}} value="{{:def}}" id="{{:name}}" class="inputField ui-block-a" {{if required == true}}placeholder="{{:placeholder}} (required)" required{{else}}placeholder="{{:placeholder}} (optional)"{{/if}}  />
                {{/if}}
        </div>
            <div>&nbsp;</div>
            {{/for}}
        </div>
    </script>
        
    <script id="requestItemTemplate" type="text/x-jquery-tmpl">
        <div class='requestItem' data-assetid='{{:_links.self.id}}'>
            <span>{{:Name}}</span>
            <div>{{:Description}}</div>
            <hr />        
        </div>
    </script>    
    </div> 
    
    <div  data-role="footer" data-theme="e">
     <fieldset class="ui-grid-a">
         <div class="ui-block-a"><a href="#current" data-role="button" data-icon="arrow-r">All Requests</a></div>
         <div class="ui-block-b"><a href="#new" data-role="button" data-icon="plus">New Request</a></div>
    </fieldset>
    </div> 
</div> 


<div data-role="page" id="p2">
    <div  data-role="header" data-rel="back"><h1>Header Page 2</h1></div>
    
    <div  data-role="content">
        <p>This is page2</p>
    </div>
    
    <div data-role="footer"><h4>Footer</h4></div>
</div> ​
</body>
</html>